@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* Feuille CSS alternatice sur la page d'acceuil (theme 2) */
main{
    min-height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
}

.annee-container h2{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    font-size: 3em;
    font-family: 'Alfa Slab One';
}

.annee-container{
    display: flex;
    height: 75%;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    display: none;
}

.annee-container:nth-child(even) img{
    order: 2;
}

.annee-container p{
    color: white;
    font-weight: 400;
    padding: 3%; 
    width: 30%;
    font-family: 'Oxygen';
    text-align: center;
    font-size: 1.3em;
}


.annee-container .highlight-image{
    cursor: pointer;
    height: auto;
    width: 40vw;
    margin: 5vh;
    border-radius: 15%;
    border: 6px solid white;
    opacity: 90%;
    transition: transform 0.3s;
    z-index: 1;
}

.annee-container .highlight-image:hover{
    transform: scale(0.9);
}

.annee-container .background-flag{
    position: absolute;
    z-index: 0;
    align-items: center;
    height: 100%;
    width: 100vw;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
}

.highlight-image:hover ~ .background-flag{
    opacity: 100%;
}

#suivant, #precedent{
    position: absolute;
    bottom: 5%;
    border-radius: 25px;
    width: 15vw;
    min-width: 150px;
    height: 6vh;
    border-width: 0;
    background-color: #c5c73b;
    font-family: 'Secular One';
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

#precedent{
    left: 30%;
}

#suivant{
    right: 30%;
}

.annee-container:nth-child(1){
    display: flex;
}




