@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{
    overflow: hidden;
}
main{
    height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    display: flex;
    justify-content: center;
    position: relative;
}


.equipe-container{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 55vw;
    margin-top: 10vh;
    flex-direction: column;
    display: none;
    animation: none;
}

.equipe-container h1{
    display: inline;
    width: fit-content;
    padding: 10px 20px;
    font-family: 'Alfa Slab One';
    font-weight: 100;
    margin-left: 10%;
    margin-top: 7%;
    font-size: 3em;
    background-color: #0B132B;
    border-radius: 20px;
    color: white;
}

.equipe-container ul{
    margin-top: 17vh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 10vh;
}

.equipe-container ul li{
    color: #0B132B;
    font-family: 'Alfa Slab One';
    font-size: 1.75em;
}

.flag{
    position: absolute;
    width: 25%;
    height: auto;
    top: 4%;
    right: 7%;
    align-self: flex-end;
}


#equipeFrance{
    display: flex;
}

main input{
    position: absolute;
    border-radius: 25px;
    width: 15vw;
    height: 6vh;
    border-width: 0;
    background-color: #c5c73b;
    font-family: 'Secular One';
    font-weight: bold;
    font-size: 1.5em;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#previousTeam{
    top: 40%;
    left: 5%;
}

#nextTeam{
    top: 40%;
    right: 5%;
}

#previousTeam:hover{
    transform: translateX(20px);
}

#nextTeam:hover{
    transform: translateX(-20px);
}