@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

main{
    background: linear-gradient(to right, #141e30, #243b55);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.equipe-container{
    background-color: rgb(230, 230, 230);
    width: 55vw;
    height: fit-content;
    max-height: 900px;
    margin-top: 10vh;
    flex-direction: column;
    display: none;
}

.equipe-container h1{
    margin-left: 10%;
    color: white;
    font-family: 'Alfa Slab One';
    font-weight: 100;
    font-size: 3em;
    color: white;
}

.equipe-container ul{
    margin-top: 10vh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10vh;
}

.equipe-container ul li{
    color: #0B132B;
    font-family: 'Secular One';
    font-size: 2em;
}

.equipe-container header{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5vh 0;
    justify-content: space-around;
    background-color: #0B132B;
}

.equipe-container .flag{
    height: 100px;
    width: 160px;
    background-image: url("../img/SpriteDrapeauPays.png");
}

#equipeFrance{
    display: block;
}

/* -------------- Bouton Suivant et Precedents -------------- */

main input{
    position: absolute;
    border-radius: 25px;
    width: 15vw;
    height: 6vh;
    border-width: 0;
    background-color: #c5c73b;
    font-family: 'Secular One';
    font-weight: bold;
    font-size: 1.5em;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#previousTeam{
    top: 400px;
    left: 5%;
    background-color: gray;
    opacity: 0.2;
}

#nextTeam{
    top: 400px;
    right: 5%;
}

#previousTeam:hover{
    transform: translateX(20px);
}

#nextTeam:hover{
    transform: translateX(-20px);
}