@media (max-width: 1300px){

    .annee-container p{
        font-size: 1em;
    }

    ul li{
        padding: 5px 15px;
    }
}

@media (max-width: 990px){

    /* ------------- MENU DEROULANT ------------- */

    #menu-hamburger{
        display: block;
    }

    .menu-close ul{
        display: none;
    }

    /* ------------- PAGE ACCEUIL ------------- */

    .annee-container .highlight-image{
        width: 70vw;
        height: auto;
        margin-top: 7vh;
    }

    .annee-container{
        flex-direction: column;
    }
    
    .annee-container p{
        width: 85vw;
        order: 2;
    }

    .annee-container h2{
        width: 100%;
        left: 0;
        top: 2%;
        text-align: center;
    }

    /* ------------- PAGE EQUIPE ------------- */
    
    .equipe-container{
        width: 90vw;
    }

    .equipe-container h1{
        font-size: 1.8em;
    }

    .equipe-container ul li{
        font-size: 1.2em;
    }

    main #previousTeam, main #nextTeam{
        height: 50px;
        width: 40vw;
        position: absolute;
        margin-top: 40vh;
    }

    /* ------------- PAGE STATISTIQUES ------------- */


    .stats-container{
        flex-direction: column;
        width: 100%;
        border-bottom-left-radius: 0;
    }

    #meilleurParticipations header{
        margin-top: 10%;
        width: 85vw;
        order: 2;
        display: flex;
        justify-content: space-between;
    }

    #meilleurButeur{
        background-image: url("../img/imageKlose.webp");
        background-size: cover;
    }

    #meilleurButeur table, #vainqueurs table{
        align-self: flex-start;
        margin-left: 5vw;
        width: 40vw;
    }

    #meilleurButeur tr td, #vainqueurs tr td{
        font-size: 0.8em;
    }

    #meilleurButeur img, #vainqueurs img{
        display: none;
    }

    #meilleurParticipations img{
        width: 8vw;
        height: auto;
    }

    #vainqueurs{
        background-image: url("https://i.la-croix.com/1400x933/smart/2022/05/21/1201216252/Kylian-Mbappe-embrasse-Coupe-mondela-victoire-lequipe-France-finale-contre-Croatie-2018-Moscou_0.jpg");
        background-size: cover;
        background-position: center;
    }
}



@media (max-width: 500px){

    /* ------------- PAGE EQUIPE ------------- */
    
    .equipe-container header{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .equipe-container header h1{
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        text-align: center;
    }

    .equipe-container ul{
        margin-top: 5vh;
    }

    .equipe-container ul li{
        font-size: 1em;
        padding: 0;
        width: 100%;
    }

    #previousTeam, #nextTeam{
        top: 330px;
    }

}



@media (max-width: 400px){

    /* ------------- MENU DEROULANT ------------- */

    nav h1{
        display: none;
    }
    
    #menu-hamburger{
        display: block;
    }


    /* ------------- PAGE STATISTIQUES ------------- */

    .stats-container h2{
        font-size: 1.3em;
    }

    .stats-container table{
        min-width: 0;
        width: 85%;
        margin: 0;
    }

    #meilleurButeur tr td, #vainqueurs tr td, #meilleurParticipations tr td{
        font-size: 0.5em;
    }


}

