@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

main{
    display: flex;
    flex-direction: column;
    background-image: url(../img/statsBgImage.jpg);
    min-height: 2160px;
}

table{
    border-collapse: collapse;
}


table tr{
    font-family: 'Oxygen';
    text-align: center;
}

thead th{
    color: white;
    padding: 2vh 0;
    background-color: #0B132B;
    font-family: 'Alfa Slab One';
    font-weight: 100;
}

table tr:nth-child(odd){
    background-color: #B0B2B8;
}

table tr:nth-child(even){
    background-color: #FFFFFF;
}


.stats-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #293149;
    width: 95%;
    margin-top: 20vh;
    padding: 10vh 0;
}

.stats-container:nth-child(odd){
    border-radius: 0 0 50px 0;
}

.stats-container:nth-child(even){
    border-radius: 0 0 0 50px;
    align-self: flex-end;
}

.stats-container h2{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 1vh 0;
    font-size: 2em;
    background-color: #0B132B;
    color: white;
    font-family: 'Alfa Slab One';
    font-weight: 100;

}

header{
    display: grid;
    padding-left: 5vw;
    width: 50%;
    grid-template-columns: repeat(auto-fill, 200px);
}



#meilleurButeur img, #vainqueurs img{
    height: 20vh;
    width: auto;
}

#meilleurParticipations img{
    height: 100px;
    width: auto;
}

#NbParticipations{
    width: 25vw;
}