@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

#logo{
    width: 55px;
    margin: 0, 5%;
    margin-left: 7%;
    cursor: pointer;
    animation-delay: 2s;
    animation: 2s appear;
}

nav{
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #0B132B;
    transition: height 1s;
}

nav ul {
    display: flex;
    width: 70vw;
    justify-content:space-evenly;
    list-style-type: none;
    margin: auto auto;
    padding: 0;
    overflow: hidden;
}


nav li {
    border: solid white 2px;
    padding: 10px 30px;
    margin: 0 3%;
    float: left;
    position: relative;
    font-family: 'Alfa Slab One', cursive;
    z-index: 1;
}

nav ul li::after{
  pointer-events: none;
  content: "";
  position:absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s;
  z-index: 0;
}

nav li:hover:after{
    width: 100%;
}

nav li a{
    display: block;
    color:white;
    text-align: center;
    z-index: 2;
}

nav li a:hover {
    background-color: #111;
}

nav ul:nth-child(){
    background-color: blue;
}

.annee-container{
    display: flex;
    width: 100vw;
    padding: 3% 0;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}

.annee-container:nth-child(even){
    background-image: url(https://img.freepik.com/vecteurs-premium/coupe-du-monde-football-contexte-pour-banniere-championnat-football-2022-au-qatar_29865-3055.jpg);
}

.annee-container:nth-child(odd){
    background-image: url(https://thumbs.dreamstime.com/b/papier-peint-du-football-de-coupe-monde-102245519.jpg);
}

.annee-container:nth-child(even) img{
    order: 2;
}


.annee-container p{
    color: white;
    font-weight: bolder;
    padding: 3%; 
    width: 30%;
    font-family: 'Oxygen';
    text-align: center;
    font-size: 1.3em;
    z-index: 1;
    transition: all 0.3 ease-in-out;
    animation: animate 0.5s linear forwards;
}


.annee-container .highlight-image{
    cursor: pointer;
    height: 45vh;
    width: 40vw;
    margin: 5vh;
    border-radius: 15%;
    border: 6px solid white;
    opacity: 90%;
    transition: transform 0.3s;
    z-index: 1;
    flex-wrap: wrap;
}

.annee-container .highlight-image:hover{
    transform: scale(0.9);
}

.annee-container .background-flag{
    position: absolute;
    z-index: 0;
    align-items: center;
    height: 100%;
    width: 100vw;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
}

.highlight-image:hover ~ .background-flag{
    opacity: 100%;
}

nav h1{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.05em;
    width: 45%;
    margin-left: 10px;
}

#menu-hamburger{
    display: none;
    position: absolute;
    right: 7vw;
    width: 40px;
    height: 40px;
    justify-self: flex-end;
}

#menu-hamburger span{
    margin-top: 10px;
    display: block;
    background-color: white;
    width: 100%;
    height: 4px;
}

.menu-open{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    z-index: 3;
}

.menu-open #menu-hamburger{
    top: 5%;
    animation: 3s appear;
}

.menu-open #menu-hamburger span{
    transition: transform 0.75s  ;
}
.menu-open #menu-hamburger span:nth-child(1){
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}

.menu-open #menu-hamburger span:nth-child(2){
    display: none;
}

.menu-open #menu-hamburger span:nth-child(3){
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
}

.menu-open img, .menu-open h1{
    display: none;
} 

.menu-open ul {
    flex-direction: column;
}

.menu-open ul li{
    margin: 5vh auto 0 auto;
    padding: 5vh 0;
    width: 80%;
    opacity: 100;
    animation-delay: 2s;
    animation: 2s appear;
}

table, td {
    border: 1px solid black;
}
thead, tfoot {
    background-color: black;
    color: white;
}






