nav img{
    width: 55px;
}

nav{
    display: flex;
}

li{
    margin-left: 20%;
    list-style-type: none;
}
ul{
    display: flex;
}

.annee-container{
    display: flex;
    background-color: red;
    width: 100%;
    height: 60%;
}

.annee-container img{
    width: 40%;
    height: auto;
}